body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "EB Garamond", serif;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  color: #b1d7b4;
  width: 4%;
  margin: 100px auto;
}

p {
  font-size: 130%;
}

h1 {
  color: #3d8361;
  font-size: 90px;
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #3d8361;
  font-size: 50px;
  font-family: "EB Garamond", serif;
  font-weight: normal;
}

h3 {
  color: #1c6758;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #eef2e6;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  width: 180px;
  right: 590px;
  top: 50px;
}

.myPhoto {
  position: relative;
  top: 20px;
  width: 200px;
}

.mount {
  height: 528px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  /* text-align: left; */
}

.code-img {
  /* position: relative; */
  /* float: left; */
  width: 25%;
}

.guitar-img {
  /* position: relative; */
  width: 25%;
}

.contact-me {
  padding-bottom: 2px;
}

.btn {
  background: #3d8361;
  background-image: -webkit-linear-gradient(top, #3d8361, #40996d);
  background-image: -moz-linear-gradient(top, #3d8361, #40996d);
  background-image: -ms-linear-gradient(top, #3d8361, #40996d);
  background-image: -o-linear-gradient(top, #3d8361, #40996d);
  background-image: linear-gradient(to bottom, #3d8361, #40996d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #24826f;
  background-image: -webkit-linear-gradient(top, #24826f, #226b5c);
  background-image: -moz-linear-gradient(top, #24826f, #226b5c);
  background-image: -ms-linear-gradient(top, #24826f, #226b5c);
  background-image: -o-linear-gradient(top, #24826f, #226b5c);
  background-image: linear-gradient(to bottom, #24826f, #226b5c);
  text-decoration: none;
}

.middle-container {
  padding-bottom: 30px;
}

.bottom-container {
  background-color: #1c6758;
  padding: 10px 0 2px;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #d6cda4;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eef2e6;
  padding: 10px 0;
}
